.vw-100 {
  width: 100vw;
}
.vh-100 {
  height: 100vh;
}

#browser-container {
  position: absolute;
  font-family: "w95font";
  width: 70%;
}
/* vh 60 or 100 done as inline in BrowserTemplate.js*/
#browser-content {
  display: flex;
  background-color: #c3c3c3;
  padding-top: 400;
  width: 100%;
  height: 60vh;
}
/* vw 60 or 100 done as inline in BrowserTemplate.js*/
#draggable-content {
  width: 100%;
}

#browser-top-bar {
  display: flex;
}
#browser-header-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 30px;
  width: 100%;

  cursor: move;
  font-size: 22px;
  background-color: #010081;
  color: #fff;
  padding-bottom: 0;
}

#browser-header-image {
  width: 22px;
  height: 22px;
}

#browser-header-name {
  text-align: left;
}
#browser-header-button-container {
  position: absolute;
  right: 2px;
  align-items: center;
  width: 90px;
}
#testing {
  display: flex;
  justify-content: flex-end;

  margin-top: 4px;
}
#browser-header-buttons {
  position: relative;
  margin-top: 5px;
  height: 29px;
  width: 29px;
  border-top: 2px #ffffff8e solid;
  border-left: 2px #ffffff8e solid;
  border-bottom: 2px black solid;
  border-right: 2px black solid;
  background-color: #c3c3c3;
  cursor: pointer;
  right: 1px;
  bottom: 8px;
  margin-left: 2px;
}

#minimize-button {
  display: inline-block;
  position: relative;
  align-items: center;
  border: black 8px;

  height: 4px;
  width: 14px;
  right: 0px;
  bottom: -4px;
  background: black;
}

#maximize-button {
  display: inline-block;
  position: relative;
  align-items: center;
  border: black 2px solid;
  border-top: 4px solid black;
  height: 12px;
  width: 14px;
  right: 3px;
  bottom: -2px;
}
#close-button {
  display: inline-block;
  position: relative;
  font-size: 22px;
}

@font-face {
  font-family: "w95font";
  src: url("../fonts/w95fa.woff") format("woff");
}
