#login-container {
  background-color: #008080;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10001;
  font-family: "w95font";
}
#login-text-container {
  width: 70%;
  position: relative;
}
#login-browser {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 30vh;
  width: 55vw;
  max-width: 400px;
  min-width: 200px;
  height: 14vh;
  max-height: 125px;
  padding: 10px;
}
#login-content {
  display: flex;
  align-items: center;
}
#login-image-container {
  width: 30%;
  position: relative;

  top: 15%;
}
#login-text-container {
  width: 70%;
  position: relative;
}
button {
  height: 30px;
  width: 120px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 2px solid;
  border-bottom: 2px solid;
  background-color: #faf7f759;
  cursor: pointer;
}
@font-face {
  font-family: "w95font";
  src: url("../fonts/w95fa.woff") format("woff");
}
